<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Jinshuju</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <style>
        ul {
            list-style-type: none;
        }
    </style>
</head>
<body>
    <div class="container">
        <div class="text-center">
            <div class="form"></div>
            <div class="modal fade" tabindex="-1" role="dialog">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                            <h4 class="modal-title">Modal title</h4>
                        </div>
                        <div class="modal-body">
                            <p><input type="radio" name="elementType" value="text" checked />&nbsp;Text</p>
                            <p><input type="radio" name="elementType" value="date" />&nbsp;Date</p>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                            <button type="button" id="btnConfirm" class="btn btn-primary" data-dismiss="modal" onclick="addElement(this)">Confirm</button>
                        </div>
                    </div><!-- /.modal-content -->
                </div><!-- /.modal-dialog -->
            </div><!-- /.modal -->
        </div>
    </div>
</body>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.0.5/handlebars.runtime.min.js"></script>
<script src="https://cdn.jsdelivr.net/lodash/4.13.1/lodash.min.js"></script>
<script src="js/handler.js"></script>
<script src="js/main.js"></script>
<script type="text/html" id="formEditor">
    <input type="button" id="btnPreview" class="btn btn-info" value="Preview" onclick="preview()"/>
    <ul>
        <% _.each(elements, function (type, index) { %>
        <li>
            <input type='<%- type %>' />
            <button name='btnDelete' class='btn btn-danger btn-sm' onclick='removeElement(<%= index %>)'>-</button>
        </li>
        <% }) %>
    </ul>
    <input id="btnAdd" type="button" class="btn btn-primary" value="Add" onclick="chooseElement()"/>
</script>
<script type="text/html" id="formPreview">
    <input type="button" id="btnEdit" class="btn btn-info" value="Edit" onclick="edit()"/>
    <ul>
    <% _.each(elements, function (type, _index) { %>
        <li>
            <input type='<%- type %>' />
        </li>
    <% }) %>
    </ul>
    <input type="button" class="btn btn-primary" value="Submit" />
</script>
</html>